<!-- display all posts -->
<div class="container" style="margin-top: 70px;">   
  <h3>Posts</h3>
  <div style="margin-bottom: 10px;">   
    <%= link_to 'Add Post', new_post_path, class: "btn btn-success" %>   
  </div>    
  <table class="table table-striped">   
    <thead>   
    <tr> 
      <th>Title</th>   
      <th>Description</th>
      <th>Created By</th>
      <th>Actions</th>
    </tr>   
    </thead>   
    <tbody>   
      <% @posts.each do |p| %>   
        <tr>
          <td><%= p.title %></td>   
          <td><%= p.description %></td>
          <td><%= p.created_by %></td>
          <td>   
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#show_post-<%= p.id %>">
              Show
            </button>
            <div class="modal fade" id="show_post-<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="post-details modal-title" id="exampleModalLabel">Post Details</h3> 
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      
                    <div class="row">
                      <div class="col-md-4 "><b>Title:</b></div>
                      <div class="col-md-8"><%= p.title %></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 "><b>Description:</b></div>
                      <div class="col-md-8 "><%= p.description %></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 "><b>Created By:</b></div>
                      <div class="col-md-8"><%= p.created_by %></div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>   
            <%= link_to 'Edit', edit_post_path(p), class: "btn btn-warning"%>   
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#post-<%= p.id %>">
              Delete
            </button>
            <div class="modal fade" id="post-<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= link_to 'Delete', post_path(p), method: :delete, class: "btn btn-danger" %>
                  </div>
                </div>
              </div>
            </div> 
        </tr>
      <% end %>  
     </tbody>     
  </table>  
</div>   
